<div>
  <div class="container" fxLayout="row" fxFlex="100%">
    <div class="heading" fxFlex="40%">
      <p>Code Game</p>
    </div>
    <div class="buttons" fxLayout="row" fxFlex="60%" fxLayoutGap="10px">
      <button mat-stroked-button color="primary" routerLink="/app/home">Home</button>
      <button mat-stroked-button color="primary" routerLink="/app/tools">Tools</button>
      <button mat-stroked-button color="primary" routerLink="/app/table">Table</button>
      <button mat-stroked-button color="primary" routerLink="/app/forms">Form</button>
      <button mat-stroked-button color="primary" routerLink="/app/child">Child</button>
      <button mat-stroked-button color="primary" routerLink="/app/parent">Parent</button>
    </div>

  </div>
  </div>
<router-outlet></router-outlet>



